<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="BasicAuth">
    <meta name="author" content="siddub">

    <title>VMS Registration</title>
  <title>Create a Jangle account</title>  

  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/915858e516.js" crossorigin="anonymous"></script>


</head>

<body>
  <%- include('../includes/navbar.ejs'); -%>
  <div class="container mb-5">
      <form class="login-form" method="POST" action="/register" >
          <h2 class="form-heading my-4">Create Account</h2>
          <input name="username" type="text" class="form-control py-4" placeholder="Username"/>
          <input name="password" type="password" class="form-control py-4" placeholder="Password" />
          <input name="passwordConfirm" type="password" class="form-control py-4" placeholder="Password confirm" />
          <input name="unit" type="text" class="form-control py-4" placeholder="Unit" />
          <input name="ic" type="text" class="form-control py-4" placeholder="IC Number"/>
          <div class="row">
            <div class="col-8">
              <input id="tenant" class="mr-2" type="radio" value="Tenant" name="role" />
              <label class="align-middle mr-5" for="tenant">Tenant</label>
              <input id="guard" class="mr-2" type="radio" value="Guard" name="role"/>
              <label class="align-middle" for="guard">Guard</label>
            </div>
            <div class="col-4">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>  
            </div>
          </div>
      </form>
  </div>

  <div class="container my-5">
    <div class="row mb-3">
      <div class="col">
        <h2 class="form-heading mt-4">Accounts</h2>
      </div>
    </div>

    <div class="row border bg-light py-3">
      <div class="col-1 text-center">
        <span>
          No.
        </span>
      </div>
      <div class="col-2 text-center">
        <span>
          Name
        </span>
      </div>
      <div class="col-2 text-center">
        <span>
          Unit
        </span>
      </div><div class="col-3 text-center">
        <span>
          IC Number
        </span>
      </div><div class="col-3 text-center">
        <span>
          Role
        </span>
      </div>
    </div>

    <% var count = 1 %> 
    <% users.forEach(function(user){%>
    <div class="row border-bottom py-3">
      <div class="col-1 my-auto text-center">
        <span>
          <%= count %> 
        </span>
      </div>
      <div class="col-2 my-auto text-center">
        <span>
          <%= user.username %>
        </span>
      </div>
      <div class="col-2 my-auto text-center">
        <span>
          <%= user.unit %>
        </span>
      </div>
      <div class="col-3 my-auto text-center">
        <span>
          <%= user.ic %>
        </span>
      </div>
      <div class="col-3 my-auto text-center">
        <span>
          <%= user.role %>
        </span>
      </div>
      <div class="col-1 pointer-hand pl-0">
        <form action="/user/delete/<%= user.id %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger">
            <a>
              <i class="far fa-trash-alt"></i>
            </a>
          </button>
          
        </form>
        
      </div>
    </div>
    <% count++; %> 
    <% }); %>

  </div>

  <!-- /container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


  <style>
  input{
    margin-bottom: 15px
  }
  h2{
    text-align: center
  }
  .container{
    width:50%
  }
  </style>

</body>
</html>